
/* modo oscuro*/

body.dark {   background:  #333333; }

.darkModeSwitch{
    background: #113528;
    position: absolute;
    right: 22px;
    top: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: .25rem;
    align-items: flex-end;
    justify-content: center;
}
.darkModeSwitch span{
    width: 29px;
    height: 25px;
    line-height: 16px;
    display:block;
    color: rgb(254, 253, 251);
    border-color: #007bff;
    background: none;

}

#icono1 { 
  box-sizing: border-box;
  padding: 4px 6px 5px 0;
  
}
#icono2 { 
  box-sizing: border-box;
  padding: 4px 0 5px 6px;
}

.darkModeSwitch::after{
    display:block;
    background: #106759;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top:0px;
    left:0;
    right:unset ;
    border-radius: 20rem;
    transition: all .5s ease;
    content: "";
}
.darkModeSwitch.active{
  background: #030e2a;
}
.darkModeSwitch.active::after{
  left:unset;
  right:0;
}

/* boton lenguaje*/

.languages{
  position: absolute;
  right: 20px;
}

.languages, .darkModeSwitch{
  display: flex;
  margin-top: 20px;

}

.languages {
  padding: .375rem .75rem;
  border: 1px solid #007bff;
  border-radius: .25rem;
  color: #007bff;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

.languages:hover, .languages:active, .languages:focus {
  color: #fff;
  background-color: #007bff;
}

 /* iconos redes sociales */

.icono-footer {
 width: 100px;
 height: 30px;
 float: right;
 display: inline;
 padding: 15px;
 text-align: center;
 font-size: 22px;
}

